
@cubeSliderW:900px;
@cubeSliderH:300px;

@cubeWight:99.95%;
@cubeHeight:50px;
@fontForme:12px;
@bottomBackGr:linear-gradient(#FFC773, #FF9800  48%,#FF9800 52%, #FFC773);

@dark-primary-color: #388E3C;
@default-primary-color : #4CAF50;
@light-primary-color : #C8E6C9;
@text-primary-color:  #FFFFFF;
@accent-color : #FF9800; ;
@primary-text-color  : #212121;
@secondary-text-color  :  #727272;
@divider-color    : #B6B6B6;
body{
	margin: 0;
	background-image: url("../img/back-graund.jpg");
	min-width:900px;

}
.centerBody{
	margin: 0 10em 0 10em ;
	padding-bottom: 20%;
	background-color: #E0FFFF;
}
.top-logo{
	position: inherit;
	box-shadow: 0 0 50px @default-primary-color, inset 0 0 8px @light-primary-color ;
	background-image: url("../img/back-graund.jpg");
	height:6%;
	img{

		margin-left: 5px;margin-top: 5px;
		float: left;
		width:100px;
		height:80%;
	}
	input[type="text"]{
		margin-right:5px;
		margin-top:5px;
		float:right;
		background-color:#F5F5F5;
		border: none;
		width: 11.5%;
		height:80%;
		padding: 0 10px;
		vertical-align: top;
	}
	button{
		margin-top:5px;
		float:right;
		color: white;
		background:@bottomBackGr;
		border:none;
		height:80%;
		width:12%;
		font-family: @fontForme, sans-serif;

	}
	
}
.centre{
	position: relative; left: 0; top: 0; height: auto; width: auto; text-align: center;
}
.top-menu{
	font-size:1em;
	ul{
		li{
			vertical-align: middle;
			box-shadow: 0 0 0 30em rgba(0,0,0,0) inset, .1em .1em .2em @light-primary-color;
			background: linear-gradient(#FFC773, #FF9800  48%,#FF9800 52%, #FFC773);
			outline: none;
			Color:white;
			cursor:pointer;
			display: inline-block;
			font: 1em Thoma;
			padding: 0.8% 4%;
				a{

					display:inline-block;
					text-decoration:none;
				}
				&:hover{
					color: black;
				}
				&:active{
					top: .1em;
					left: .1em;
					box-shadow: 0 0 0 30em rgba(0,0,0,.05) inset;
				}
		}
	}
}



.leftMeny{
	margin-top:3.5em;
	margin-left: 1px;
	float: left;
	.label{
		color: white;
		margin-bottom: 10px;
		padding: 10px 50px;
		background-color: @default-primary-color;
	}
	ul{
		li{
			margin-bottom: 3px;
			list-style-type: none;
			cursor: pointer;
			background:@bottomBackGr;
			padding: 2.5% 5%;
			a{
				display: block;
				text-decoration: none;
				color:white;
			}
		}
	}
}






.cubeWrapper {
	margin:0;
	perspective: 100000px;

}

.cubeForSlider{
	width: @cubeSliderW;
	height: @cubeSliderH;
	position: absolute;
	margin-top: 4%;margin-left: 25%;
	transition: 1s;
	transform-style: preserve-3d;
	text-align: center;
	.face1,.bottom1,.left1,.right1,.top1,.zad1{
		font:30px Tahoma,sans-serif;
		position: absolute;
		width: @cubeSliderW;
		height: @cubeSliderH;
		text-align: center;
		border-radius: 15px;
		box-shadow: 0 0 2px @dark-primary-color, inset 0 0 9px @dark-primary-color;
}
	.face1 {
		transform: translateZ(@cubeSliderH/2);
	}

	.bottom1 {

		transform: rotateX(-90deg) translateZ(@cubeSliderH/2);
	}
	.left1{

		transform: rotateY(-90deg) rotateZ(90deg) translateZ(@cubeSliderH/2);
	}
	.right1{

		transform: rotateY(90deg) translateZ(@cubeSliderH/2);
	}
	.top1{

		transform: rotateX(90deg) translateZ(@cubeSliderH/2);
	}
	.zad1{
		transform: translateZ(-(@cubeSliderH/2));
	}
	&:hover {
		transform: rotateX(-90deg);
	}


}

.cube {

	margin-top: 35%;
	position: relative;
	width: @cubeWight;
	height: @cubeHeight;
	transition: transform 1s;
	transform-style: preserve-3d;
	text-align: center;
		.face,.bottom,.left,.right,.top,.zad {
			width: @cubeWight;
			font:30px Tahoma,sans-serif;
			text-align: center;
			border-radius: 15px;
			box-shadow: 0 0 2px @dark-primary-color, inset 0 0 9px @dark-primary-color;
			position: absolute;
			background-color: #E0FFFF;
			height: @cubeHeight;
		}
			.face {
				transform: translateZ(@cubeHeight/2);
			}

			.bottom {

				transform: rotateX(-90deg) translateZ(@cubeHeight/2);
			}
			.left{

				transform: rotateY(-90deg) rotateZ(90deg) translateZ(@cubeHeight/2);
			}
			.right{

				transform: rotateY(90deg) translateZ(@cubeHeight/2);
			}
			.top{

				transform: rotateX(90deg) translateZ(@cubeHeight/2);
			}
			.zad{
				transform: translateZ(-(@cubeHeight/2));
			}
			&:hover {
			transform: rotateX(90deg);
			}

}
.cube2{
	.cube;
	margin-top: 20px;
}
.Coube-menu{
	position: relative;
	left: 0; height: auto; width: auto;text-align: center;
	margin-top:6px;
	font: 14px Thoma;
	ul{
		li{
			margin-left: 4px;
			vertical-align: middle;
			border: 2px solid @accent-color;
			box-shadow: 0 0 0 5em rgba(1,1,1,0) inset, .1em .1em .2em @light-primary-color;
			border-radius: 2px;
			outline: none;
			Color:black;
			cursor:pointer;
			display: inline-block;
			background:@bottomBackGr;
			padding: 0.6% 6%;
			a{

				display:inline-block;
				text-decoration:none;
			}
			&:hover{

			}
			&:active{
				top: .1em;
				left: .1em;
				box-shadow: 0 0 0 80px rgba(0,0,0,.05) inset;
			}
		}
	}
}
@media (max-width:1280px ) {


.top-menu{
	font-size: 1em;
	ul{
		li{
			padding: 0.8% 2%;
		}
	}
}
}
/* The two faces of the cube */

/* Position the faces */
