
@cubeWight:99.95%;
@cubeHeight:50px;
@fontForme:12px;

@dark-primary-color: #388E3C;
@default-primary-color : #4CAF50;
@light-primary-color : #C8E6C9;
@text-primary-color:  #FFFFFF;
@accent-color : #FF9800; ;
@primary-text-color  : #212121;
@secondary-text-color  :  #727272;
@divider-color    : #B6B6B6;
body{
	margin: 0;
	background-image: url("../img/back-graund.jpg");
	min-width:1662px;
}
.centerBody{
	margin: 0 135px 0 135px ;
	padding-bottom: 20%;
	background-color: #E0FFFF;
}
.top-logo{
	position: inherit;
	box-shadow: 0 0 50px @default-primary-color, inset 0 0 8px @light-primary-color ;
	background-image: url("../img/back-graund.jpg");
	height:50px;
	img{
		margin-left: 5px;
		float: left;
		width:100px;
		height:50px;
	}
	input[type="text"]{
		margin-right:5px;
		margin-top:5px;
		float:right;
		background-color:#F5F5F5;
		border: none;
		height:40px;
		padding: 0 10px;
		vertical-align: top;
	}
	button{
		margin-top:5px;
		float:right;
		color: white;
		background-color:@accent-color;
		border:none;
		height:40px;
		width:200px;
		font-family: @fontForme, sans-serif;

	}
	
}
.top-menu{
	ul{
		margin-left: 10%;
		margin-top:0;
		margin-bottom: 6px;
		li{
			vertical-align: middle;
			border: 2px solid @accent-color;
			box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em @light-primary-color;
			border-radius: 2px;
			outline: none;
			cursor:pointer;
			display: inline-block;
			background-color:@accent-color;
			padding:10px 60px;
				a{

					display:inline-block;
					text-decoration:none;
					Color:white;
				}
				&:hover{

				}
				&:active{
					top: .1em;
					left: .1em;
					box-shadow: 0 0 0 80px rgba(0,0,0,.05) inset;
				}
		}
	}
}



.leftMeny{
	margin-top:30px;
	margin-left: 1px;
	float: left;
	.label{
		color: white;
		margin-bottom: 10px;
		padding: 10px 50px;
		background-color: @default-primary-color;
	}
	ul{
		li{
			margin-bottom: 3px;
			list-style-type: none;
			cursor: pointer;
			background-color: @accent-color;
			padding: 10px 50px;
			a{
				display: block;
				text-decoration: none;
				color:white;
			}
		}
	}
}




.sliderWrapper{
	height:350px ;
	width: 1000px;
	margin-top: 20px;
	margin-left: 240px;
	margin-bottom: 10px;
	position: relative;
	.slider{
		padding-bottom: 10px;
		height:inherit;
		width: inherit;
		position: relative;
		box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	}
	.slides {
		background-size:800px 350px;
		height: inherit;
		position: absolute;
		width: inherit;
	}
}
/*.slider1 {background-image: url("../img/slider-header.jpg");}*/

.sliderWrapper >input{
	display: none;
}





.cubeWrapper {
	margin:0;
	perspective: 100000px;

}
.cube {

	margin-top: 30px;
	position: relative;
	width: @cubeWight;
	height: @cubeHeight;
	transition: transform 1s;
	transform-style: preserve-3d;
	text-align: center;
		.face,.bottom,.left,.right,.top,.zad {
			width: @cubeWight;
			font:30px Tahoma,sans-serif;
			text-align: center;
			border-radius: 15px;
			box-shadow: 0 0 2px @light-primary-color, inset 0 0 20px @light-primary-color;
			position: absolute;
			background-image:url("../img/back-graund.jpg");;
			height: @cubeHeight;
		}
			.face {
				transform: translateZ(@cubeHeight/2);
			}

			.bottom {

				transform: rotateX(-90deg) translateZ(@cubeHeight/2);
			}
			.left{

				transform: rotateY(-90deg) rotateZ(90deg) translateZ(@cubeHeight/2);
			}
			.right{

				transform: rotateY(90deg) translateZ(@cubeHeight/2);
			}
			.top{

				transform: rotateX(90deg) translateZ(@cubeHeight/2);
			}
			.zad{
				transform: translateZ(-(@cubeHeight/2));
			}
			&:hover {
			transform: rotateX(90deg);
			}

}

.Coube-menu{
	margin-top:4px;
	font: 14px Thoma;
	ul{
		margin: 0 auto;
		li{
			margin-left: 20px;
		}
	}
	.top-menu;

}

/* The two faces of the cube */

/* Position the faces */
